.combo-box {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #d1d1d1;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
    -fx-font-size: 14px;
    -fx-font-family: 'Arial';
}

.button {
    -fx-background-color: #2196f3;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #1e88e5;
}
